<div class="page-header">
  <h3><%= @student.first_name %> <%= @student.last_name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @student.first_name %> <%= @student.last_name %></dd>

      <dt>Email</dt>
      <dd><%= @student.email %></dd>

      <dt>Cases</dt>
      <dd>
        <ul class="list-group">
        <% @student.cases.each do |the_case| %>
          <li class="list-group-item">
              <%= the_case.case_type %>
          </li>
        <% end %>
