<!-- Validation failure messages -->
<% if @case.errors.any? %>
  <% @case.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Case #<%= @case.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_case/<%= @case.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Case name
        </label>

        <input type="text" id="name" name="name" placeholder="Case name" class="form-control" value="<%= @case.name %>">
      </div>

      <!-- Label and input for case_type -->
      <div class="form-group">
        <label for="case_type" class="control-label">
          Case type
        </label>

        <input type="text" id="case_type" name="case_type" placeholder="Case type" class="form-control" value="<%= @case.case_type %>">
      </div>

      <!-- Label and input for Interviewer_led -->
      <div class="checkbox">
        <label for="leader">
          <input type="checkbox" id="interviewer_led" name="interviewer_led" value="1" <%= "checked" if @case.interviewer_led %>>
          Interviewer Led
        </label>
      </div>

      <!-- Label and input for industry -->
      <div class="form-group">
        <label for="industry" class="control-label">
          Industry
        </label>

        <input type="text" id="industry" name="industry" placeholder="Industry" class="form-control" value="<%= @case.industry %>">
      </div>

      <!-- Label and input for quant score -->
      <div class="form-group">
        <label for="quant" class="control-label">
          Quant score
        </label>

        <input type="text" id="quant" name="quant" placeholder="Quant score" class="form-control" value="<%= @case.quant %>">
      </div>

      <!-- Label and input for structure -->
      <div class="form-group">
        <label for="structure" class="control-label">
          Structure score
        </label>

        <input type="text" id="structure" name="structure" placeholder="Structure score" class="form-control" value="<%= @case.structure %>">
      </div>

      <!-- Label and input for page -->
      <div class="form-group">
        <label for="page" class="control-label">
          Page
        </label>

        <input type="text" id="page" name="page" placeholder="Page" class="form-control" value="<%= @case.page %>">
      </div>

      <!-- Label and input for user_id
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @case.user_id %>">
      </div> -->

      

      <button class="btn btn-warning">
        Update Case
      </button>
      or
      <a href="/cases/<%= @case.id %>">Cancel</a>
    </form>
  </div>
</div>
